<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Проверка</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/minesweeper.css">
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
    <div class="bg"></div>
    <div class="modal" id="authorizationServerError" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body serverError">
                    <h1>That's not so good</h1>
                    <span class="text-justify">Unfortunately, there has been a mistake something went wrong. We're sorry.
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="bg">
    </div>
    <div class="main">
        <%- include('partitials/header') %>

        <div class="content">
            <div class="content-page">
                <%- include('partitials/gameField') %>

            </div>
        </div>
    </div>

    <script src="js/socket.io.js"></script>
    <script src="/js/renderer.js"></script>

</body>
</html>
