.link-cleared{
    color: inherit;
    text-decoration: none;
}
.link-cleared:hover{
    color: inherit;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6, span, div, p {
    /* font-family: cursive; */
}
.modal{
    background-color: rgba(0,0,0,0.3)
}
span, h1{
    cursor: default;
}
.bg{
    background-image: url("/images/bg-repeat.png");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: repeat;
    /* background-size: cover; */
    position: fixed;
    z-index: -1;
}
body, html{
    height: 100%;
    margin: 0;
}
.main{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.dropdown{
    display: none;
}
.dropdown-toggle{
    background-color: yellowgreen;
}
.dropdown-divider{
    border-color: darkgreen;
}
.dropdown-item:hover{
    background-color: rgb(187, 238, 69);
}
.header{
    background-color: yellowgreen;
    justify-content: flex-start;
    min-width: 340px;
}
.dropdown-menu{
    display: block;
    background-color: yellowgreen;
}
.collapse{
    display: none;
}
.nav-link{
    color: darkgreen;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 11 auto;
}
.dropdown-menu_right{
    right: 0;
    left: auto;
}
.dropdown-menu_right_bottom{
    left: auto;
    right: 0;
    top: -166px;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.main-menu-dropdown{
    width: fit-content;
    position: absolute;
    bottom: 17px;
    right: 12px;
}
.dropdown-nav-link{
    border-radius: 10px;
    padding: 2px 6px;
}
/* animation block */
    .lds-grid {
        display: inline-block;
        position: relative;
        width: 110px;
        height: 40px;
        margin: 20px 0px 5px 0px;
    }
    .lds-grid div {
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: green;
        animation: lds-grid 1.2s linear infinite;
    }
    .lds-grid div:nth-child(1) {
        top: 0px;
        left: 0px;
        animation-delay: 0s;
    }
    .lds-grid div:nth-child(2) {
        top: 0px;
        left: 40px;
        animation-delay: -0.6s;
    }
    .lds-grid div:nth-child(3) {
        top: 0px;
        left: 80px;
        animation-delay: -1.2s;
    }
    @keyframes lds-grid {
        0%, 100% {
            opacity: 1;
        }
        50% {
            opacity: 0.5;
        }
    }
/* end of animation block */
@media( max-width: 440px ), (max-height: 440px) {
    .dropdown{
        display: block;
    }
    .header{
        display: none;
    }
}
